<!-- Página que exibe os resultados da consulta a API de atividades, boredAPI -->
<!DOCTYPE html>
<html>
  <head>
    <link href="/css/activity.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/images/timeIcon.png"/>
  </head>
  <body>
    <a href="javascript:history.back()">Voltar</a>
    <a href="/">Home</a>

    <div class="container">
      <h1>Atividade encontrada</h1>

      <% if(locals.atividade){ %>
      <table>
        <tr>
          <td><b>Atividade</b></td>
          <td><%= atividade %></td>
        </tr>
        <tr>
          <td><b>Tipo</b></td>
          <td><%= tipo %></td>
        </tr>
        <tr>
          <td><b>Participantes</b></td>
          <td><%= participantes %></td>
        </tr>
        <tr>
          <td><b>Preco</b></td>
          <td><%= preco %></td>
        </tr>
        <% if(locals.link){ %>
        <tr>
          <td><b>Link</b></td>
          <td>
            <a href="<%= link %>"><%= link %></a>
          </td>
        </tr>
        <% } %>
        <tr>
          <td><b>Acessibilidade</b></td>
          <td><%= acessibilidade %></td>
        </tr>
      </table>
      <% } else if (locals.erro){ %>
      <h1>Ocorreu um erro inesperado, tente novamente.</h1>
      <% } %>
    </div>
  </body>
</html>