<!-- Página que exibe o histórico de requests realizadas as apis. -->
<!DOCTYPE html>
<html>
  <head>
    <link href="/css/history.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/images/timeIcon.png"/>
  </head>
  <body>
    <a href="javascript:history.back()">Voltar</a>
    <a href="/">Home</a>
    <div class="container">
      <h1>Histórico de requisições</h1>
        <% newListItems.forEach(function(item,index){ %>
            <li>  <b>Data:</b> <%= item.date  %>  ||  <b>API:</b> <%= item.name   %>
              <button class="btnDetail" data-button-show> Exibir detalhes ▶</button>
              <pre class="hidden"> <%= JSON.stringify(item, null, '\t') %> 
                <button onclick="deleteElement(this)" class="btnDelete" data-button-show> Deletar </button>
              </pre>
              </br>
            </li>
        <% }) %>
     
    </div>
  </body>
  <script src="js/history.js"></script>
</html>
